<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="\static\styles\styles.css">
    <!-- <script src="/static/assets/script.js"></script> -->
</head>

<body>
    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">AliShredder Web</a></div>
          <div class="body-text">a Software to measure phylogenetic quality</div>
          <ul class="nav-links">
              <li><a href="javascript:history.back()">Go Back</a></li>
          </ul>
        </div>
      </nav>
    
    <div class="stApp">
        <h2>Error occured!</h2>
        <div class="container">
            <div class="input-section">
                <h3>Log File Contents:</h3>
                <pre>{{ log_content }}</pre>
            </div>
        </div>
    </div>              
</body>
</html>



